
# Editor files
.idea
.vscode
.nyc_output

# TODO
.github

# dependencies
/node_modules

# testing
/coverage

# Exclude compiled files
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

*.log*
yarn.lock

