/* зачки состояния объекта: папка, элемент, пометка удаления, проведён */
.cell_indicator {padding-left: 26px !important;}
.cell_ref_folder {background: url(./folderClosed.gif) no-repeat left center;}
.cell_ref_folder_deleted {background: url(./folderDeleted.gif) no-repeat left center;}
.cell_ref_folder_open {background: url(./folderOpen.gif) no-repeat left center; font-style: italic;}
.cell_ref_elm {background: url(./catelm.gif) no-repeat left center;}
.cell_ref_elm_deleted {background: url(./catelmDeleted.gif) no-repeat left center;}
.cell_doc_posted {background: url(./doc_posted.png) no-repeat left center;}
.cell_doc_deleted {background: url(./doc_deleted.png) no-repeat left center;}
.cell_doc {background: url(./doc_saved.png) no-repeat left center;}
.cell_checked {background: url(./checkExtent.svg) no-repeat left center;}
.cell_number {text-align: end;}

.tree_folder {background: url(./folderClosed.gif) no-repeat left center;}
.tree_folder_open {background: url(./folderOpen.gif) no-repeat left center;}

.icon_root {background-image: url(struct.png);}
.icon_gear {background-image: url(gear.png);}
